<template>
  <div
    class="main-map-chart"
    ref="dataMap"
    style="width: 100%; height: 600px"
  />
</template>
<script>
// import '../../assets/china'
import map from "./map.json";
let chart = null;
export default {
  props: {
    title: String,
    list: Array,
  },
  data() {
    return {
      config: {},
    };
  },
  methods: {
    initChart() {
      if (null != chart && undefined != chart) {
        chart.dispose();
      }
      this.$echarts.registerMap("河北省", map);
      chart = this.$echarts.init(this.$refs.dataMap);
      this.setOptions();
    },
    setOptions() {
      let nameColor = " rgb(55, 75, 113)";
      let name_fontFamily = "等线";
      let subname_fontSize = 15;
      let name_fontSize = 18;
      let nameMap = "河北省";
      let dataList = [
        {
          name: "邢台市",
          value: 808,
        },
        {
          name: "石家庄市",
          value: 560,
        },
        {
          name: "秦皇岛市",
          value: 189,
        },
        {
          name: "张家口市",
          value: 133,
        },
        {
          name: "衡水市",
          value: 108,
        },
        {
          name: "沧州市",
          value: 76,
        },
        {
          name: "邯郸市",
          value: 70,
        },
        {
          name: "保定市",
          value: 23,
        },
        {
          name: "唐山市",
          value: 11,
        },
        {
          name: "廊坊市",
          value: 5,
        },
        {
          name: "承德市",
          value: 3,
        },
      ];
      let toolTipData = [
        {
          name: "邢台市",
          value: 808,
        },
        {
          name: "石家庄市",
          value: 560,
        },
        {
          name: "秦皇岛市",
          value: 189,
        },
        {
          name: "张家口市",
          value: 133,
        },
        {
          name: "衡水市",
          value: 108,
        },
        {
          name: "沧州市",
          value: 76,
        },
        {
          name: "邯郸市",
          value: 70,
        },
        {
          name: "保定市",
          value: 23,
        },
        {
          name: "唐山市",
          value: 11,
        },
        {
          name: "廊坊市",
          value: 5,
        },
        {
          name: "承德市",
          value: 3,
        },
      ];
      let geoCoordMap = {};
      let max = 2000,
        min = 1; // todo
      let maxSize4Pin = 100,
        minSize4Pin = 40;
      let convertData = function (data) {
        console.log("data", data);
        let res = [];
        for (let i = 0; i < data.length; i++) {
          let geoCoord = geoCoordMap[data[i].name];
          if (geoCoord) {
            res.push({
              name: data[i].name,
              value: geoCoord.concat(data[i].value),
            });
          }
        }
        console.log("res", res);
        return res;
      };
      let mapFeatures = this.$echarts.getMap(nameMap).geoJson.features;
      mapFeatures.forEach(function (v) {
        // 地区名称
        let name = v.properties.name;
        // 地区经纬度
        geoCoordMap[name] = v.properties.cp;
      });
      console.log(geoCoordMap);
      //GDP
      let optionMap = {
        title: {
          text: "河北省",
          subtext: "",
          x: "center",
          textStyle: {
            color: nameColor,
            fontFamily: name_fontFamily,
            fontSize: name_fontSize,
          },
          subtextStyle: {
            fontSize: subname_fontSize,
            fontFamily: name_fontFamily,
          },
        },
        grid: {
          // left:'2%',
          right: "10%",
          bottom: "3%",
          width: "20%",
          height: "50%",
        },
        tooltip: {
          formatter: function (params) {
            if (typeof params.value[2] == "undefined") {
              let toolTiphtml = "";
              for (let i = 0; i < toolTipData.length; i++) {
                if (params.name == toolTipData[i].name) {
                  toolTiphtml +=
                    toolTipData[i].name + ":" + toolTipData[i].value + "人";
                }
              }
              return toolTiphtml;
            } else {
              let toolTiphtml = "";
              for (let i = 0; i < toolTipData.length; i++) {
                if (params.name == toolTipData[i].name) {
                  toolTiphtml +=
                    toolTipData[i].name + ":" + toolTipData[i].value + "人";
                }
              }
              return toolTiphtml;
            }
          },
        },

        visualMap: [
          {
            show: true,
            min: 1,
            max: 1000,
            left: "left",
            top: "bottom",
            text: ["高", "低"], // 文本，默认为数值文本
            calculable: true,
            seriesIndex: [0],
            inRange: {
              color: ["#74add1", "#ffd768", "#ff8c71", "#ff5428", "#7f1100"],
            },
          },
          {
            show: true,
            min: 1,
            max: 1000,
            left: "left",
            top: "bottom",
            text: ["高", "低"], // 文本，默认为数值文本
            calculable: true,
            seriesIndex: [1],
            inRange: {
              color: [
                "#0b9df0",
                "#74add1",
                "#ffd768",
                "#ff8c71",
                "#ff5428",
                "#7f1100",
              ],
            },
          },
        ],
        geo: {
          show: true,
          map: nameMap,
          label: {
            normal: {
              show: true,
            },
            emphasis: {
              show: false,
            },
          },
          roam: true,
          itemStyle: {
            normal: {
              areaColor: "#ffffff",
              borderColor: "#3B5077",
            },
            emphasis: {
              areaColor: "#2B91B7",
            },
          },
        },
        series: [
          {
            name: "十一游客来源",
            type: "map",
            map: nameMap,
            // aspectScale: 0.75, //长宽比
            // left: '2%',
            // // right: '35%',
            // top: 10,
            // width: '90%',
            // height: '90%',
            roam: false,
            // itemStyle: {
            //     normal: {
            //         areaColor: '#fff',
            //         borderColor: '#00effc',
            //         borderWidth: 1.5,
            //         label: {
            //             show: true,
            //             color: '#fff',
            //         },

            //         emphasis: {
            //             label: {
            //                 show: true
            //             }
            //         }
            //     }
            // },
            geoIndex: 0,
            data: dataList,
          },
          {
            name: "点",
            type: "scatter",
            coordinateSystem: "geo",
            symbol: "pin", //气泡
            symbolSize: function (val) {
              let a = (maxSize4Pin - minSize4Pin) / (max - min);
              let b = minSize4Pin - a * min;
              b = maxSize4Pin - a * max;
              // return  val[2] ;
              return a * val[2] + b;
            },
            label: {
              normal: {
                formatter: function (obj) {
                  return obj.data.value[2];
                },
                show: true,
                textStyle: {
                  color: "#fff",
                  fontSize: 9,
                },
              },
            },
            itemStyle: {
              normal: {
                color: "#F62157", //标志颜色
              },
            },
            zlevel: 6,
            data: convertData(dataList),
          },
        ],
      };
      chart.setOption(optionMap);
      window.addEventListener("resize", function () {
        chart.resize();
      });
    },
  },
  watch: {
    list: {
      handler(newValue, oldValue) {
        if (oldValue != newValue) {
          this.setOptions();
        }
      },
      deep: true,
    },
  },
};
</script>
