<template>
  <div class="container">
    <!-- 顶部 -->
    <div class="top-header">
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="main-content">
      <el-row>
        <el-col :span="18">
          <!-- 中间信息开始 -->
          <div class="statistics-content">
            <!-- 中间左侧开始 -->
            <div class="main-inner">
              <el-row>
                <el-col :span="7">
                  <chart-card
                    title="好评率累计排名（TOP 10）"
                    :customClass="`chart-item-bottom-sep`"
                  >
                    <province-ranking-bar-chart
                      ref="topConfirmedCountRankChart"
                      :data="top10ProvinceData"
                      style="width: 100%; height: 300px"
                    />
                  </chart-card>
                  <!-- 占比 -->
                  <chart-card
                    title="天津景点评论数量"
                    :customClass="`chart-item-bottom-sep`"
                  >
                    <div
                      ref="basicProportionChart"
                      style="width: 100%; height: 300px"
                    />
                  </chart-card>
                </el-col>
                <el-col :span="17">
                  <!-- 顶部基本统计信息开始 -->
                  <!-- 顶部基本统计信息开始 -->
                  <div class="main-inner-map-wraper">
                    <!-- 地图 -->
                    <div class="map">
                      <data-map
                        ref="dataMap"
                        title=""
                        :list="mapDataList"
                        style="width: 100%; height: 600px"
                      />
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
            <!-- 中间左侧结束 -->
          </div>
          <!-- 中间信息结束 -->
        </el-col>
        <el-col :span="6">
          <!-- 右侧区域开始 -->
          <div class="main-right">
            <chart-card
              title="景点介绍"
              :innerClass="`cure-and-dead-rate-chart`"
              :customClass="`chart-item-bottom-sep`"
            >
              <div ref="chart1" style="width: 100%; height: 150px"></div>
            </chart-card>
            <chart-card
              title="景点评分区间占比"
              :customClass="`chart-item-bottom-sep`"
            >
              <div
                ref="confirmedCountTrendChart"
                style="width: 100%; height: 200px"
              />
            </chart-card>
            <chart-card title="">
              <div slot="title" class="province-table-title flex">旅游景点</div>
              <div style="width: 100%; height: 200px" ref="scatterRef"></div>
            </chart-card>
          </div>
          <!-- 右侧区域结束 -->
        </el-col>
      </el-row>
    </div>
    <!-- 其他页面 -->
    <div class="province-data-table-wrapper">
      <el-dialog
        :visible.sync="provinceTableDialogVisible"
        width="50%"
        :before-close="provinceTableDialogClose"
      >
        <div slot="title" class="province-data-modal-title">
          <p>各省数据表</p>
          <span class="province-data-modal-update-time"
            >（更新时间：{{ basicData.updateTime }}）</span
          >
        </div>
        <div class="area-data-table-wrapper">
          <el-table
            class="area-data-table"
            :data="provinceDataList"
            style="width: 100%"
          >
            <el-table-column prop="provinceLabel" align="center" label="省份">
            </el-table-column>
            <el-table-column
              prop="confirmedCount"
              align="center"
              label="累计确诊"
            >
            </el-table-column>
            <el-table-column
              prop="currentConfirmedCount"
              align="center"
              label="现有确诊"
            >
            </el-table-column>
            <el-table-column prop="curedCount" align="center" label="累计治愈">
            </el-table-column>
            <el-table-column prop="deadCount" align="center" label="累计死亡">
            </el-table-column>
          </el-table>
        </div>
      </el-dialog>
      <!-- 关于弹窗 -->
      <el-dialog
        title="关于"
        :visible.sync="aboutDialogVisible"
        width="30%"
        :before-close="aboutDialogClose"
      >
        <about />
      </el-dialog>
    </div>
  </div>
</template>
<script>
import ChartCard from "../components/ChartCard";
import DataMap from "../components/DataMap";
import ProvinceRankingBarChart from "../components/ProvinceRankingBarChart";
import About from "../components/About";

import covid19Service from "../api/covid19";

const formatter = (number) => {
  const numbers = number.toString().split("").reverse();
  const segs = [];
  while (numbers.length) segs.push(numbers.splice(0, 3).join(""));
  return segs.join(",").split("").reverse().join("");
};
// 数据样式
const getNumberStyle = (
  color = "#E8EAF6",
  fontSize = 30,
  fontWeight = "bolder"
) => {
  return {
    fontSize: fontSize,
    fill: color,
    fontWeight: fontWeight,
  };
};

const initBasicConfig = (data = null) => {
  let currentConfirmedCount = data ? [data.currentConfirmedCount] : 0;
  let confirmedCount = data ? [data.confirmedCount] : 0;
  let importedCount = data ? [data.importedCount] : 0;
  let noInFectCount = data ? [data.noInFectCount] : 0;
  let deadCount = data ? [data.deadCount] : 0;
  let curedCount = data ? [data.curedCount] : 0;
  return {
    confirmedCount: {
      number: [confirmedCount],
      content: "{nt}",
      formatter,
      style: getNumberStyle(),
    },
    currentConfirmedCount: {
      number: [currentConfirmedCount],
      content: "{nt}",
      formatter,
      style: getNumberStyle("#2E8EEA"),
    },
    importedCount: {
      number: [importedCount],
      content: "{nt}",
      formatter,
      style: getNumberStyle(),
    },
    noInFectCount: {
      number: [noInFectCount],
      content: "{nt}",
      formatter,
      style: getNumberStyle(),
    },
    deadCount: {
      number: [deadCount],
      content: "{nt}",
      formatter,
      style: getNumberStyle("#D32E58"),
    },
    curedCount: {
      number: [curedCount],
      content: "{nt}",
      formatter,
      style: getNumberStyle(),
    },
  };
};

const initProvinceConfirmedCountBoardConfig = (resultList = []) => {
  return {
    header: ["省份", "累计确诊", "累计治愈", "累计死亡"],
    headerHeight: 30,
    data: resultList,
    align: ["center"],
    rowNum: 10,
    index: true,
    indexHeader: "排名",
    headerBGC: "",
    oddRowBGC: "",
    evenRowBGC: "",
    carousel: "single",
  };
};
export default {
  components: {
    ChartCard,
    DataMap,
    ProvinceRankingBarChart,
    About,
  },
  data() {
    return {
      title: "旅游景点数据大屏",
      provinceTableDialogVisible: false,
      aboutDialogVisible: false,
      commonData: {},
      basicData: {
        currentConfirmedCount: 0,
        currentConfirmedIncr: 0,
        confirmedCount: 0,
        confirmedIncr: 0,
        curedCount: 0,
        curedIncr: 0,
        deadCount: 0,
        deadIncr: 0,
        sure: 0,
        sureAdd: 0,
        importedCount: 0,
        importedIncr: 0,
        noInFectCount: 0,
        noInFectIncr: 0,
        suspectCount: 0,
        suspectIncr: 0,
        updateTime: "-",
      },
      defaultDataConfig: initBasicConfig(),
      cureRateConfig: {
        data: [0],
        shape: "round",
      },
      deadRateConfig: {
        data: [0],
        shape: "round",
      },
      countryRankingTakeTurnChartConfig: {
        data: [],
        waitTime: 2000,
        unit: "单位",
        valueFormatter({ value }) {
          const reverseNumber = (value + "").split("").reverse();
          let valueStr = "";

          while (reverseNumber.length) {
            const seg = reverseNumber.splice(0, 3).join("");
            valueStr += seg;
            if (seg.length === 3) valueStr += ",";
          }

          return valueStr.split("").reverse().join("");
        },
      },
      provinceConfirmedCountBoardConfig:
        initProvinceConfirmedCountBoardConfig(),
      provinceDataList: [],
      trendDataList: [],
      confirmedCountList: [],
      top10ProvinceData: {
        provinceList: [],
        valueList: [],
      },
      basicIncrTrendData: {
        dateList: [],
        importedIncrDataList: [],
        currentConfirmedIncrDataList: [],
      },
      confirmSingleBarChartData: {
        dateList: [],
        currentConfirmedCountList: [],
        confirmedCountList: [],
      },
      rate: {
        curedRate: 0,
        deadRate: 0,
      },
      areaData: {},
      mapDataList: [],
    };
  },
  methods: {
    queryBasicData() {
      let self = this;
      covid19Service.getOverall().then((res) => {
        if (!res.success) {
          console.log("错误:" + res.info);
          return;
        }
        self.basicData = res.data;
        self.setBasicData(res.data);
      });
    },
    queryProvinceDataList() {
      let self = this;
      covid19Service.getProvinceDataList().then((res) => {
        if (!res.success) {
          // TODO 错误处理...
          console.log("错误:" + res.info);
          return;
        }
        self.provinceDataList = res.data;
        self.setAreaChartData(res.data);
        // 设置累计排名数据
        self.setProvinceRankingData(res.data);
        // 设置各省累计确诊轮播表格数据
        self.setProvinceComfirmedCountBoardData(res.data);
        // 设置地图数据
        self.setMapData(res.data);
      });
    },
    queryTrendDataList() {
      let self = this;
      covid19Service.getDailyList().then((res) => {
        if (!res.success) {
          // TODO 错误处理...
          console.log("错误:" + res.info);
          return;
        }
        self.trendDataList = res.data;
        // 重置图表数据
        self.setBasicIncrTrendData(res.data);
      });
    },
    setProvinceRankingData(areaList) {
      let provinceList = [];
      let dataValueList = [];
      for (let i = 0; i < 10; i++) {
        provinceList.push(areaList[i].provinceLabel);
        dataValueList.push(areaList[i].confirmedCount);
      }
      let data = {
        provinceList: provinceList,
        valueList: dataValueList,
      };
      this.top10ProvinceData = data;
    },
    setBasicIncrTrendData(data) {
      let dateList = [];
      let currentConfirmedIncrList = [];
      let importedIncrList = [];

      let sevenDayDateList = [];
      // 仅显示一周条数据
      let confirmedCountList = [];
      let curedCountList = [];
      // 仅获取7条数据
      let count = 7;
      let noInFectDataList = [];

      for (let i = data.currentConfirmedIncrList.length - 1; i >= 0; i--) {
        dateList.push(data.currentConfirmedIncrList[i][0]);
        currentConfirmedIncrList.push(data.currentConfirmedIncrList[i][1]);
      }
      for (let i = data.importedIncrList.length - 1; i >= 0; i--) {
        importedIncrList.push(data.importedIncrList[i][1]);
      }
      for (let i = data.noInFectCountList.length - 1; i >= 0; i--) {
        noInFectDataList.push(data.noInFectCountList[i][1]);
      }

      for (let i = count; i >= 0; i--) {
        if (confirmedCountList.length >= count) {
          break;
        }
        sevenDayDateList.push(data.confirmedCountList[i][0]);
        confirmedCountList.push(data.confirmedCountList[i][1]);
      }
      for (let i = count; i >= 0; i--) {
        if (curedCountList.length >= count) {
          break;
        }
        curedCountList.push(data.curedCountList[i][1]);
      }

      this.basicIncrTrendData = {
        dateList: dateList,
        importedIncrDataList: importedIncrList,
        currentConfirmedIncrDataList: currentConfirmedIncrList,
        noInFectDataList: noInFectDataList,
      };
      this.confirmSingleBarChartData = {
        dateList: sevenDayDateList,
        curedCountList: curedCountList,
        confirmedCountList: confirmedCountList,
      };
    },
    setProvinceComfirmedCountBoardData(areaList) {
      let resultList = areaList.map((item) => {
        return [
          item.provinceLabel,
          item.confirmedCount,
          item.curedCount,
          item.deadCount,
        ];
      });
      // 重新生成，否则无法刷新状态
      this.provinceConfirmedCountBoardConfig =
        initProvinceConfirmedCountBoardConfig(resultList);
    },
    setAreaChartData(areaList) {
      let confirmedCountList = [];
      let provinceList = [];
      let curedCountList = [];
      let deadCountList = [];
      areaList.forEach((item) => {
        provinceList.push(item.provinceLabel);
        confirmedCountList.push(item.confirmedCount);
        curedCountList.push(item.curedCount);
        deadCountList.push(item.deadCount);
      });
      this.areaData = {
        provinceList: provinceList,
        confirmedCountList: confirmedCountList,
        curedCountList: curedCountList,
        deadCountList: deadCountList,
      };
    },
    setMapData(dataList) {
      let list = dataList.map((item) => {
        return {
          name: item.provinceLabel,
          value: item.confirmedCount,
        };
      });
      this.mapDataList = list;
    },
    provinceTableDialogShowHandler() {
      this.provinceTableDialogVisible = true;
    },
    provinceTableDialogClose() {
      this.provinceTableDialogVisible = false;
    },
    aboutDialogShowHandler() {
      this.aboutDialogVisible = true;
    },
    aboutDialogClose() {
      this.aboutDialogVisible = false;
    },
    setBasicData(data) {
      // 重新生成，否则视图不更新
      let config = initBasicConfig(data);
      this.defaultDataConfig = config;
      // 处理治愈率和死亡率
      this.rate = {
        curedRate: data.curedRate / 100,
        deadRate: data.deadRate / 100,
      };
    },
    startQueryData() {
      this.queryBasicData();
      this.queryProvinceDataList();
      this.queryTrendDataList();
    },
    initAllChart() {
      this.$refs.dataMap.initChart();
      this.$refs.topConfirmedCountRankChart.initChart();
      this.showEeharts();
      this.scatterEcharts();
      this.funnelEcharts();
      this.pieEcharts();
    },
    //玫瑰图
    pieEcharts() {
      let chart1 = this.$echarts.init(this.$refs.confirmedCountTrendChart);
      let option = {
        title: {
          x: "center",
        },
        color: [
          "#37a2da",
          "#32c5e9",
          "#9fe6b8",
          "#ffdb5c",
          "#ff9f7f",
          "#fb7293",
          "#e7bcf3",
          "#8378ea",
        ],
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)",
        },
        calculable: true,
        series: [
          {
            name: "增值电信业务统计表",
            type: "pie",
            radius: [30, 80],

            roseType: "area",
            data: [
              { value: 10, name: "rose1" },
              { value: 5, name: "rose2" },
              { value: 15, name: "rose3" },
              { value: 25, name: "rose4" },
              { value: 20, name: "rose5" },
              { value: 35, name: "rose6" },
              { value: 30, name: "rose7" },
              { value: 40, name: "rose8" },
            ],
          },
        ],
      };
      // window.onR
      chart1.setOption(option);
      window.addEventListener("resize", function () {
        chart1.resize();
      });
    },
    //漏斗图
    funnelEcharts() {
      let chart1 = this.$echarts.init(this.$refs.basicProportionChart);
      let option = {
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c}%",
        },
        // legend: {
        //   // data: ["展现", "点击", "访问", "咨询", "订单"],
        // },
        calculable: true,
        series: [
          {
            name: "漏斗图",
            type: "funnel",
            left: "10%",
            top: 60,
            //x2: 80,
            bottom: 60,
            width: "80%",
            // height: {totalHeight} - y - y2,
            min: 0,
            max: 100,
            minSize: "0%",
            maxSize: "100%",
            sort: "descending",
            gap: 2,
            label: {
              normal: {
                show: true,
                position: "inside",
              },
              emphasis: {
                textStyle: {
                  fontSize: 20,
                },
              },
            },
            labelLine: {
              normal: {
                length: 10,
                lineStyle: {
                  width: 1,
                  type: "solid",
                },
              },
            },
            itemStyle: {
              normal: {
                borderColor: "#fff",
                borderWidth: 1,
              },
            },
            data: [
              { value: 60, name: "访问" },
              { value: 40, name: "咨询" },
              { value: 20, name: "订单" },
              { value: 80, name: "点击" },
              { value: 100, name: "展现" },
            ],
          },
        ],
      };
      chart1.setOption(option);
      window.addEventListener("resize", function () {
        chart1.resize();
      });
    },
    showEeharts() {
      let chart1 = this.$echarts.init(this.$refs.chart1);
      let data1 = [
        { name: "香港", value: 11801 },
        { name: "台湾", value: 1178 },
        { name: "上海", value: 2006 },
        { name: "广东", value: 2365 },
        { name: "云南", value: 347 },
        { name: "四川", value: 992 },
        { name: "福建", value: 595 },
        { name: "浙江", value: 1345 },
        { name: "海南", value: 188 },
        { name: "江苏", value: 720 },
        { name: "天津", value: 387 },
        { name: "山西", value: 251 },
        { name: "广西", value: 275 },
        { name: "陕西", value: 592 },
        { name: "湖北", value: 38158 },
        { name: "重庆", value: 597 },
        { name: "内蒙古", value: 382 },
        { name: "湖南", value: 1045 },
        { name: "山东", value: 879 },
        { name: "北京", value: 1057 },
        { name: "河南", value: 1312 },
        { name: "甘肃", value: 193 },
        { name: "西藏", value: 1 },
        { name: "吉林", value: 573 },
        { name: "河北", value: 1317 },
        { name: "青海", value: 18 },
        { name: "澳门", value: 49 },
        { name: "新疆", value: 980 },
        { name: "辽宁", value: 408 },
        { name: "安徽", value: 994 },
        { name: "黑龙江", value: 1610 },
        { name: "贵州", value: 147 },
        { name: "江西", value: 937 },
        { name: "宁夏", value: 75 },
      ];
      let chart1Option = {
        title: {
          text: "词云", //标题
          x: "center",
          textStyle: {
            fontSize: 23,
          },
        },
        tooltip: {
          show: true,
        },
        series: [
          {
            name: "各省累计确诊", //数据提示窗标题
            type: "wordCloud",
            sizeRange: [12, 64], //画布范围，如果设置太大会出现少词（溢出屏幕）
            rotationRange: [-45, 90], //数据翻转范围
            //shape: 'circle',
            textPadding: 0,
            autoSize: {
              enable: true,
              minSize: 6,
            },
            textStyle: {
              normal: {
                color: function () {
                  return (
                    "rgb(" +
                    [
                      Math.round(Math.random() * 160),
                      Math.round(Math.random() * 160),
                      Math.round(Math.random() * 160),
                    ].join(",") +
                    ")"
                  );
                },
              },
              emphasis: {
                shadowBlur: 10,
                shadowColor: "#333",
              },
            },
            data: data1,
          },
        ],
      };
      chart1.setOption(chart1Option);
      window.addEventListener("resize", function () {
        chart1.resize();
      });
    },
    scatterEcharts() {
      let scatterRef = this.$echarts.init(this.$refs.scatterRef);
      let option = {
        color: ["#23cbe5"],
        grid: {
          bottom: "15%",
          top: "15%",
        },
        xAxis: {
          type: "category",
          data: [
            "学前教育",
            "小学",
            "初中",
            "中职",
            "普通高中",
            "高等教育",
            "特殊教育",
          ],
          axisTick: {
            alignWithLabel: true,
          },
          axisLine: {
            lineStyle: {
              color: "#fff",
            },
          },
          axisLabel: {
            formatter: "{value}",
            textStyle: {
              fontSize: 16,
              color: "#fff",
            },
          },
        },
        yAxis: {
          type: "value",
          axisLine: {
            lineStyle: {
              color: "#fff",
            },
          },
          axisLabel: {
            formatter: "{value}",
            textStyle: {
              fontSize: 16,
              color: "#fff",
            },
          },
        },
        series: [
          {
            name: "",
            type: "scatter",
            data: [
              ["学前教育", 67],
              ["小学", 271],
              ["初中", 59],
              ["中职", 70],
              ["普通高中", 102],
              ["高等教育", 10],
              ["特殊教育", 2],
            ],
            symbolSize: function (data) {
              return Math.sqrt(data[1]) / 0.8;
            },
            itemStyle: {
              normal: {
                color: new this.$echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "#fff",
                    },
                    {
                      offset: 0.7,
                      color: "#81fffa",
                    },
                    {
                      offset: 1,
                      color: "#11fff6",
                    },
                  ],
                  false
                ),
                borderColor: new this.$echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: "#fff",
                    },
                    {
                      offset: 0.7,
                      color: "#81fffa",
                    },
                    {
                      offset: 1,
                      color: "#11fff6",
                    },
                  ],
                  false
                ),
                shadowColor: "rgba255,255,255, 0.5)",
                shadowBlur: 100,
              },
            },
            label: {
              normal: {
                show: true,
                position: "top",
                formatter: function (params) {
                  return params.value[1];
                },
                color: "#fff",
                fontSize: 16,
              },
            },
          },
        ],
      };
      scatterRef.setOption(option);
      window.addEventListener("resize", function () {
        scatterRef.resize();
      });
    },
  },
  mounted() {
    this.initAllChart();
    this.startQueryData();

    let self = this;
    // 定义定时器，隔 5 秒刷新一次
    this.timer = setInterval(() => {
      self.startQueryData();
    }, 5000);
  },

  beforeDestroy() {
    clearInterval(this.timer);
  },
};
</script>
<style>
.main-content {
  height: calc(100% - 76px);
}
.container {
  position: relative;
  height: 100%;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 10px;
}
.flex {
  display: flex;
}
.top-header {
  position: relative;
  margin-bottom: 10px;
}
.top-header-tip {
  font-size: 14px;
  position: absolute;
  padding: 20px 20px;
  text-align: right;
  top: 0;
  right: 0;
}
.title {
  min-width: 350px;
}
.chart-card {
  background: #0f142b;
  border-radius: 10px;
  margin: 0 20px;
}
.main-inner-map-wraper {
  height: 100%;
  margin: 0 20px;
}
.map {
  width: 99%;
  height: 840px;
  padding: 20px 10px 10px 10px;
}
.province-scroll-board-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.chart-item-bottom-sep {
  margin-bottom: 20px;
}
.province-table-title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
  text-align: left;
}
.basic-incr-trend-chart-wrapper {
  padding-bottom: 10px;
}
.sub-title,
.last-update-time,
.province-scroll-board-wrapper ::v-deep .dv-scroll-board .header,
.province-scroll-board-wrapper ::v-deep .dv-scroll-board .rows {
  font-size: 14px;
}
.province-scroll-board-wrapper ::v-deep .dv-scroll-board .rows {
  color: #bcbcbf;
}
.province-data-modal-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.province-data-modal-update-time {
  color: #58585a;
  font-size: 16px;
  font-weight: normal;
  padding-top: 10px;
  display: block;
}
.cure-and-dead-rate-chart {
  display: flex;
  justify-content: space-around;
}
.top-basic-info {
  display: flex;
}
.dv-scroll-ranking-board .ranking-column .inside-column {
  background: linear-gradient(90deg, #29bfff, #a231ff, #0deccd, #29bfff);
}
.chart-item-container {
  margin: 0 10px;
}
.about-wraper {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
</style>
