<template>
  <div id="app">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
    // DataV
  },
};
</script>

<style>
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  background: #060612;
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #bcbcbf;
  height: 100%;
}
</style>
